@using Sitecore.Mvc
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<TDSExample.Web.Models.TDSExample.IGenericCallout>

<p>@Editable(i => i.Title)</p>

<div>@Editable(i => i.Image)</div>

<p>@Editable(i => i.ShortDescription)</p>